### Common exclude ###
.gradle
.kotlin
logs
build/
out/
run*
secrets
naughtylist-backend/http/http-client.private.env.json

.jar

### IntelliJ ###
.idea
*.iws
*.iml
*.ipr

### Do NOT exclude ###
!gradle/wrapper/gradle-wrapper.jar